@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");

body {
  font-family: Special Elite, sans-serif;
  display: flex;
  margin: 0;
}

nav {
  background-color: blue;
  max-width: 250px;
  height: 100vh;
}

main {
  background-color: blueviolet;
  flex: 1;
}
header {
  font-size: 30px;
  padding: 20px;
}
